<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script th:inline="javascript">
        //3秒后转到登录页面
        var id = setInterval(redirect,3000);
        function redirect(){
            clearInterval(id);
            window.location.href= /*[[@{/login}]]*/;
        }
    </script>
</head>
<body>
<div class=".container">
    <div class="row">
        <h1 style="text-align: center; margin-top: 10%">PictureDepot</h1>
        <h3 style="text-align: center">注册成功</h3>
        <h5 style="text-align: center">正在跳转到<a th:href="@{/login}">登录页面...</a></h5>
    </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>