<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:insert="~{common/header :: copy}"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-2" th:each="album : ${albums}">
                <a th:href="@{/album/} + ${album.id} + '/1'">
                    <div style="text-align: center">
                        <img th:src="@{/public/img/test2.png}" class="img-rounded img-responsive" alt="Cinque Terre">
                        <p th:text="${album.albumName}">album name</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <ul class="pagination">

                </ul>
            </div>
        </div>
    </div>


<script th:inline="javascript">
    var url = /*[[@{/albums}]]*/;
    var pageCount = /*[[${pageCount}]]*/;
    var currPage = /*[[${currPage}]]*/;
    var pageSize = /*[[${pageSize}]]*/;
    var numOfButton = 8;
    var ul = document.getElementsByClassName("pagination")[0];

    //[<<<]
    addLi("<<", currPage > 1 ? "" : "disabled", currPage > 1 ? genUrl(currPage-1, pageSize) : "");
    //[1] [2] [...] [ ]
    if(pageCount - currPage + 1 > numOfButton){
        //[当前页] [numOfButton - 3个页码] [...] [末页]
        addLi(currPage, "disabled", "");
        for (i = 1; i <= numOfButton - 3; i++) {
            addLi(i + currPage, "", genUrl(i + currPage, pageSize));
        }
        addLi("...", "disabled", "");
        addLi(pageCount, "",  genUrl(pageCount, pageSize));
    }else{
        //[当前页面] [剩余页面]
        addLi(currPage, "disabled", "");
        for (i = 1; i <= pageCount - currPage; i++) {
            addLi(i + currPage, "", genUrl(i + currPage, pageSize));
        }
    }
    //[>>>]
    addLi(">>", currPage < pageCount ? "" : "disabled", currPage < pageCount ? genUrl(currPage + 1, pageSize) : "");

    function genUrl(pageNo, pageSize){
        return url + "/" + pageNo + "/" + pageSize;
    }

    function addLi(text, classOfLi, href){
        var li = document.createElement("li");
        if(classOfLi != ""){
            li.setAttribute("class", classOfLi);
        }
        var a = document.createElement("a");
        if(href != ""){
            a.setAttribute("href", href);
        }
        a.innerText = text;
        li.append(a);
        ul.append(li);
    }
</script>
</body>
</html>