<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.AlbumMapper">
    <select id="getAlbumCountByUserId" resultType="BigInteger">
        select count(id) from album where owner = #{userId}
    </select>
    <select id="getAlbumCountByUsername" resultType="BigInteger">
        select count(album.id) from album join user on album.owner = user.id
        where user.username = #{username}
    </select>

    <select id="getAlbumsByUserId" resultType="Album">
        select id, album_name, owner, draft_group, is_public, secret_key, create_time, update_time from album
        where owner = #{userId}
        limit #{start}, #{count}
    </select>

    <select id="getAlbumsByUsername" resultType="Album">
        select id, album_name, owner, draft_group, is_public, secret_key, create_time, update_time from album
        where owner = (select id from user where username = #{username})
        limit #{start}, #{count}
    </select>

    <select id="getAlbumById" resultType="Album">
        select id, album_name, owner, draft_group, is_public, secret_key, create_time, update_time from album
        where id = #{id}
    </select>

    <update id="setDraftGroup">
        update album
        set draft_group = #{pictureGroupId}
        where id = #{albumId}
    </update>
</mapper>