<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.AlbumMapper">
    <select id="getById" resultType="Album">
        SELECT id, name, owner_id, access_policy, description, file_size, create_time, update_time
        FROM album
        WHERE id = #{id}
    </select>

    <select id="listByOwnerUserId" resultType="Album">
        SELECT id, name, owner_id, access_policy, description, file_size, create_time, update_time
        FROM album
        WHERE owner_id = #{ownerId}
    </select>
    
    <select id="listPermitted" resultType="Album">
        SELECT id, name, owner_id, access_policy, description, file_size, create_time, update_time
        FROM album
        WHERE owner_id = #{ownerUserId} AND (
            <!--属主访问-->
            (owner_id = #{visitorUserId}) OR
            <!--部分分组好友可见-->
            (access_policy = 1 AND
                EXISTS(
                    SELECT * FROM album_access, friendship
                    WHERE album_access.album_id = album.id
                        AND album_access.friend_group_id = friendship.friend_group_id
                        AND friendship.friend_user_id = #{visitorUserId}
                )
            ) OR
            <!--所有好友可见-->
            (access_policy = 2 AND
                EXISTS (
                    SELECT * FROM friendship, friend_group
                    WHERE friend_group.id = friendship.friend_group_id
                        AND friend_group.owner_id = #{ownerUserId}
                        AND friendShip.friend_user_id = #{visitorUserId}
                )
            ) OR
            <!--公开-->
            (access_policy = 3)
        )
    </select>

    <insert id="add" parameterType="Album" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO album(name, owner_id, access_policy, description)
        VALUES(#{name}, #{ownerId}, #{accessPolicy}, #{description})
    </insert>

    <update id="updateByIdAndOwnerId" parameterType="Album">
        UPDATE album
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="accessPolicy != null">
                access_policy = #{accessPolicy},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        WHERE id = #{id} AND owner_id = #{ownerId}
    </update>

    <delete id="deleteById">
        DELETE FROM album
        WHERE id = #{id}
    </delete>

    <update id="updateFileSize">
        UPDATE album
        SET file_size = IFNULL(file_size, 0) + #{fileSizeIncr}
        WHERE id = #{id}
    </update>
</mapper>