<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiao.picturedepot.dao.FriendshipMapper">
    <select id="getUsername" resultType="String">
        SELECT username
        FROM user
        WHERE user.id = #{id}
    </select>

    <resultMap id="friendshipMap" type="Friendship">
        <result property="friendUserId" column="friend_user_id"/>
        <association property="friendUsername" column="friend_user_id" select="getUsername"/>
    </resultMap>

    <select id="listByUserId" resultMap="friendshipMap">
        SELECT id, friend_user_id, friend_group_id, create_time, update_time
        FROM friendship
        WHERE owner_id = #{useId}
    </select>

    <select id="listByGroupId" resultMap="friendshipMap">
        SELECT id, friend_user_id, friend_group_id, create_time, update_time
        FROM friendship
        WHERE friend_group_id = #{friendGroupId}
    </select>

    <select id="checkFriendRelationship" resultType="Boolean">
        SELECT
            (EXISTS
                (SELECT * FROM friendship, friend_group
                WHERE friend_group.id = friendship.friend_group_id
                    AND friend_group.owner_id = #{user1}
                    AND friendship.friend_user_id = #{user2}
                )
        ) AS is_friend
    </select>

    <insert id="add" parameterType="Friendship">
        INSERT INTO friendship(friend_user_id, friend_group_id)
        VALUES(#{friendUserId}, #{friendGroupId})
    </insert>

    <update id="update">
        UPDATE friendship
        SET friend_group_id =
            (SELECT id FROM friend_group WHERE owner_id = #{userId} AND name = #{friendGroupName})
        WHERE
            friend_group_id IN (SELECT id FROM friend_group WHERE owner_id = #{userId})
            AND
            friend_user_id = #{friendUserId};
    </update>

    <delete id="deleteByUserId">
        DELETE FROM friendship
        WHERE
            friend_group_id IN (SELECT id FROM friend_group WHERE owner_id = #{userId})
            AND
            friend_user_id = #{friendUserId};
    </delete>
</mapper>