<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.PictureGroupMapper">
    <select id="getPictureGroupCountByAlbumId" resultType="BigInteger">
        SELECT COUNT(id) FROM picture_group WHERE album_id = #{albumId}
    </select>

    <select id="getPictureGroupsByAlbumId" resultType="PictureGroup">
        SELECT id, album_id, title, create_time, update_time
        FROM picture_group
        WHERE album_id = #{albumId}
    </select>

    <select id="getPictureGroupById" resultType="PictureGroup">
        SELECT id, album_id, title, create_time, update_time
        FROM picture_group
        WHERE id = #{id}
    </select>

    <update id="updatePictureGroup" parameterType="PictureGroup">
        UPDATE picture_group
        <set>
            <if test="albumId != null">
                album_id = #{albumId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addPictureGroup" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO picture_group(album_id, title)
        VALUES(#{albumId}, #{title})
    </insert>

    <select id="getMaxPictureSequenceInGroup" resultType="Integer">
        SELECT MAX(sequence) FROM picture
        WHERE picture_group_id = #{pictureGroupId}
    </select>

    <delete id="deletePictureGroupById">
        delete from picture_group
        where id = #{id}
    </delete>
</mapper>