<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.PictureRefMapper">
    <select id="listByGroupId" resultType="PictureRef">
        SELECT id, picture_group_id, picture_id, sequence, create_time, update_time
        FROM picture_ref
        WHERE picture_group_id = #{pictureGroupId}
        ORDER BY sequence ASC
    </select>

    <select id="getFirstPictureOfGroup" parameterType="Long" resultType="Long">
        SELECT id FROM picture_ref WHERE picture_group_id = #{pictureGroupId} ORDER BY sequence LIMIT 1
    </select>

    <select id="countByGroupId" parameterType="Long" resultType="Integer">
        SELECT COUNT(id) FROM picture_ref WHERE picture_group_id = #{pictureGroupId}
    </select>

    <delete id="deleteByGroupId">
        DELETE FROM picture_ref WHERE picture_group_id = #{pictureGroupId}
    </delete>

    <select id="getById" resultType="PictureRef">
        SELECT id, picture_group_id, picture_id, sequence, create_time, update_time
        FROM picture_ref
        WHERE id = #{id}
    </select>

    <select id="getReferencedPictureId" resultType="Long">
        SELECT picture_id FROM picture_ref WHERE id = #{pictureRefId} AND picture_group_id = #{pictureGroupId}
    </select>

    <select id="getPictureUri" resultType="String">
        SELECT uri
        FROM picture_ref, picture_identity
        WHERE picture_ref.id = #{pictureRefId} AND picture_ref.picture_group_id = #{pictureGroupId}
                AND picture_ref.picture_id = picture_identity.id
    </select>

    <insert id="add" parameterType="PictureRef" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO picture_ref(picture_group_id, picture_id, sequence)
        VALUES(#{pictureGroupId}, #{pictureRefId}, #{sequence})
    </insert>

    <insert id="addBatch" parameterType="PictureRef" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO picture_ref(picture_group_id, picture_id, sequence)
        VALUES
        <foreach collection="pictureRefs" item="pictureRef" separator=",">
            (#{pictureRef.pictureGroupId}, #{pictureRef.pictureId}, #{pictureRef.sequence})
        </foreach>
    </insert>

    <update id="updateSequence">
        UPDATE picture_ref
        SET sequence = #{sequence}
        WHERE id = #{pictureRefId} AND picture_group_id = #{pictureGroupId}
    </update>

    <delete id="delete">
        DELETE FROM picture_ref
        WHERE picture_group_id = #{pictureGroupId} AND id = #{pictureRefId}
    </delete>
</mapper>