<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.PictureIdentityMapper">
    <select id="getById" resultType="PictureIdentity">
        SELECT uri, md5, format, ref_count, update_time, create_time
        FROM picture_identity
        WHERE id = #{id}
    </select>

    <select id="getByMD5" resultType="PictureIdentity">
        SELECT uri, md5, format, ref_count, update_time, create_time
        FROM picture_identity
        WHERE md5 = #{md5}
    </select>

    <insert id="add" parameterType="PictureIdentity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO picture_identity(uri, md5, format, ref_count)
        VALUES(#{uri}, #{md5}, #{format}, #{refCount})
    </insert>

    <delete id="delete">
        DELETE FROM picture_identity
        WHERE id = #{id}
    </delete>

    <update id="updateRefCount">
        UPDATE picture_identity
        SET ref_count = #{refCount}
        WHERE id = #{id}
    </update>
</mapper>