<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.PictureMapper">
    <select id="getPicturesByGroup" resultType="Picture">
        select id, picture_group as pictureGroupId, picture_format, filepath, sequence, create_time, update_time
        from picture where picture_group = #{pictureGroupId}
        order by sequence asc
    </select>

    <delete id="deletePicturesByGroup">
        delete from picture where picture_group = #{pictureGroupId}
    </delete>

    <select id="getPictureById" resultType="Picture">
        select id, picture_group as pictureGroupId, picture_format, filepath, sequence, create_time, update_time
        from picture where id = #{id}
    </select>

    <select id="getPicturePath" resultType="String">
        select filepath from picture where id = #{pictureId} and picture_group = #{pictureGroupId}
    </select>

    <insert id="addPicture" parameterType="Picture" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into picture(picture_group, picture_format, filepath, sequence)
        values(#{pictureGroupId}, #{pictureFormat}, #{filepath}, #{sequence})
    </insert>

    <update id="updateSequence">
        update picture
        set sequence = #{sequence}
        where id = #{pictureId} and picture_group = #{pictureGroupId}
    </update>

    <delete id="deletePicture">
        delete from picture
        where picture_group = #{pictureGroupId} and id = #{pictureId}
    </delete>
</mapper>