<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.PictureGroupMapper">
    <select id="getFirstPictureOfGroup" parameterType="BigInteger" resultType="BigInteger">
        select id from picture where picture_group = #{pictureGroupId} order by sequence limit 1
    </select>
    <select id="getPictureCountOfGroup" parameterType="BigInteger" resultType="Integer">
        select count(id) from picture where picture_group = #{pictureGroupId}
    </select>
    <resultMap id="pictureGroupMap" type="PictureGroup">
        <result property="id" column="id"/>
        <association property="firstPicture" javaType="BigInteger" column="id" select="getFirstPictureOfGroup"/>
        <association property="pictureCount" javaType="Integer" column="id" select="getPictureCountOfGroup"/>
    </resultMap>

    <select id="getPictureGroupCountByAlbumId" resultType="BigInteger">
        select count(id) from picture_group where album = #{albumId}
    </select>

    <select id="getPictureGroupsByAlbumId" resultMap="pictureGroupMap">
        select id, album, title, create_time, update_time
        from picture_group
        where album = #{albumId}
    </select>

    <select id="getPictureGroupById" resultMap="pictureGroupMap">
        select id, album, title, create_time, update_time
        from picture_group
        where id = #{id}
    </select>

    <update id="updatePictureGroup" parameterType="PictureGroup">
        update picture_group
        <set>
            <if test="album != null">
                album = #{album},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="addPictureGroup" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into picture_group(album, title)
        values(#{album}, #{title})
    </insert>

    <select id="getMaxPictureSequenceInGroup" resultType="Integer">
        select max(sequence) from picture
        where picture_group = #{pictureGroupId}
    </select>

    <delete id="deletePictureGroupById">
        delete from picture_group
        where id = #{id}
    </delete>
</mapper>