<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.UserMapper">
    <resultMap id="userRole" type="User">
        <association property="role" javaType="Role" column="role_id" select="getRole"/>
    </resultMap>
    <select id="getRole" resultType="Role">
        SELECT id, name, create_time, update_time
        FROM role WHERE id = #{id}
    </select>

    <select id="getByUsername" resultMap="userRole">
        SELECT id, username, password, role_id, create_time, update_time
        FROM user WHERE username = #{username}
    </select>

    <select id="getUserIdByUsername" resultType="Long">
        SELECT id FROM user WHERE username = #{username}
    </select>

    <select id="getUsernameById" resultType="String">
        SELECT username FROM user WHERE id = #{id}
    </select>

    <select id="getById" resultMap="userRole">
        SELECT id, username, password, role_id, create_time, update_time
        FROM user WHERE id = #{id}
    </select>

    <insert id="add">
        INSERT INTO user(username, password, role_id)
        VALUES(#{user.username}, #{user.password},
            (SELECT id FROM role WHERE role.name = #{rolename})
        )
    </insert>

    <select id="getAvatarByUserId" resultType="java.io.InputStream">
        SELECT avatar FROM user WHERE id = #{userId}
    </select>

    <insert id="setAvatarByUserId">
        UPDATE user
        SET avatar = #{image}
        WHERE id = #{userId}
    </insert>
</mapper>