<?xml version="1.0" encoding="UTF8" ?>      <!--将encoding="UTF-8"中间的‘-’去掉->"UTF8"就中文注释就不会导致异常了-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiao.picturedepot.dao.UserMapper">
    <resultMap id="userRole" type="User">
        <association property="role" javaType="Role" column="role" select="getRole"/>
    </resultMap>
    <select id="getRole" resultType="Role">
        select id, rolename, privilege_level, create_time, update_time
        from role where id = #{id}
    </select>

    <select id="getUserByUsername" resultMap="userRole">
        select id, username, password, role, create_time, update_time
        from user where username = #{username}
    </select>

    <insert id="addUser">
        insert into user(username, password, role)
        values(#{username}, #{password},
            (select id from role where role.rolename = #{rolename})
        )
    </insert>
</mapper>